body {
    background: url("movie_reel_bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#row1{
    
}
#row1:hover .overlay {
    opacity: 1;
}
